# Keychrone
SUBSYSTEM=="hid", ENV{DISPLAY_NAME}="Keychrone BT", ENV{HID_NAME}=="Keychron K2",                ACTION=="bind", RUN+="/home/j2ko/.config/i3/keychrone.sh"
SUBSYSTEM=="hid", ENV{DISPLAY_NAME}="Keychrone USB", ENV{HID_NAME}=="USB Keychron K2 USB DEVICE", ACTION=="bind", RUN+="/home/j2ko/.config/i3/keychrone.sh"
